@page
@model TestBase.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Auth";
}
<div class="col-md-4">
    <form method="post">
        <input type="text" name="login" placeholder="Login" class="form-control" required/><br>
        <input type="password" name="pass" placeholder="password" class="form-control"required /><br />
        <input type="submit" value="Login" class="btn btn-primary" />
    </form>
</div>